{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <br>
            <form method="post" action="{% url 'user:register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">昵称</label>
                    <input type="text" class="form-control" id="username" name="username" required value={{ username }}>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" required value={{ email }}>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" required value={{ password }}>
                </div>
                <div class="form-group">
                    <label for="password2">确认密码</label>
                    <input type="password" class="form-control" id="password2" name="password2" required value={{ password2 }}>
                </div>
                <p><font size="1" color="red">
                    {% if errmsg %}
                        {{ errmsg }}<br>
                    {% endif %}
                </font></p>
                <button type="submit" class="btn btn-primary">注册</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}